a, div, h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'Alef', Helvetica, Arial, sans-serif;
}
h3 {
  margin: 5px 0;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #000;
    text-decoration: none;
}

a:hover {
  color: #75AADC;
}

/* COMMON CLASSES */

.row {
  display: flex;
  flex-direction: row;
}

.row-spaced {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.name-info {
  justify-content: center;
}

.name-info h1, .name-info h2 {
  margin: 0;
}

.right-justify {
  align-items: flex-end;
}

.resume {
  max-width: 800px;
  margin: 0 auto;
}

.fm-icon {
  display: inline-block;
  color: #75AADC;
  border: 2px solid #75AADC;
  margin-bottom: -2px;
  margin-right: 10px;
  padding: 5px;
  font-size: 72px;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #75AADC
}

.location {
  font-size: 1.3em;
}

.work {
  margin-right: 30px;
}

.skills {
  /*min-width: 170px;*/
  width: 400px;
}
.skills h4 {
  text-decoration: underline;
  margin-bottom: 2px;
}
.skills p {
  margin-top: 0;
  margin-bottom: 0;
}
.skills h4:first-of-type {
  margin-top: 0;
}

.grouped-jobs h3 {
  margin: 0 0 2px 0 ;
}

ul {
  padding-left: 40px;
  list-style:none;
  margin-top: 0;
}

li {
  margin: 2px 0;
}

li:before {
  content: "\f101";
  margin:0 5px 0 -15px;
  /*color: #f00;*/
  font-family: 'FontAwesome';
  font-size: .7em;
}
.print-only {
  display: none;
}

@media print {
  h1 {
    font-size: 1.3em;
  }
  h2 {
    margin: 5px 0px;
    font-size: 1em;
  }
  h3 {
    font-size: .8em;
    padding-bottom: 0;
  }
  .grouped-jobs {
    margin-top: 20px
   /*page-break-inside: avoid;*/
  }
  .location {
    font-size: 1em;
  }
  .fm-icon {
    font-size: 53px;
  }
  .contact {
    font-size: 0.7em;
  }
  li, span, p {
    font-size: .7em;
  }
  .skills {
    width: 200px;
  }
  .print-only {
    display: block;
  }
}
