 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                      A fullstack web developer, focusing on building quality web UIs for the ever demanding client need.
                      My code philosphy tends toward clean, composable code. Hence why react has become my goto tool and love using
                      ruby/rails as backend api for its ease in simplifing common backend convention.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                      My technical toolbelt include: javascript, ruby, python, react, react-native, rails,
                      django, node, webpack, gulp, grunt, vim,
                    </p>
                    <p>
                      When I am not behind my computer, I love to spend my time in the great outdoors.
                    </p>
                </div>
            </div>
        </div>
    </section>
