 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <i class="fa fa-times fa-2x"></i>
            </div>
            <div class="portfolio-modal-header">
              <h2>{{ post.title }}</h2>
              <hr class="star-primary">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            {% if post.images %}
                              <div class="slider">
                                {% for img in post.images %}
                                   <div><img src="img/portfolio/{{ img }}" ></div>
                                {% endfor %}
                              </div>
                            {% endif %}
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href={{ post.site-link }}>{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>{{ post.project-date }}</strong>
                                </li>
                                <li>Role:
                                    <strong>{{ post.category }}</strong>
                                </li>
                                <li>Tech:
                                    <strong>{{ post.tech }}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
